html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.btn {
    width: 100%;
    padding: 1rem 0;
    border-radius: 2rem;
    border: 0.1rem solid #0A3871;
    background: transparent;
    margin-top: 1rem;
}

.btn-1 {
    color: #ffffff;;
    background: #0A3871;
}

.btn-2 {
    color: #0A3871;

}

.main {
    margin: 3rem 0;
    height: 100%;
}

@media (min-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
}

/*            Sección input              */

@media (min-width: 768px) {
    .seccion-entrada {
        padding: 2rem;
    }

    .seccion-entrada form {
        height: 70rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.logo {
    height: 3rem;
    margin-bottom: 4rem;
}

.text-input {
    border: none;
    background: transparent;
    width: 100%;
    height: 25rem;
    resize: none;
    font-size: 2rem;
    color: #0A3871;
}

.text-input::placeholder {
    font-size: 2.4rem;
    color: #0A3871;
}

.text-input:focus {
    outline: none;
}


@media (min-width: 480px) {
    .form__botones {
        display: flex;
        gap: 2rem;
    }
}

/*            Sección de output              */
.seccion-salida {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    background: #ffffff;
    border-radius: 5rem;
    padding: 3rem;
    box-shadow: 0px 6px 16px -16px #000000;
    justify-content: center;
}

.seccion-salida__img {
    display: none;
}

@media (min-width: 768px) {
    .seccion-salida {
        height: 80rem;
        margin: 0;
    }

    .seccion-salida__img {
        display: block;
    }
}

.seccion-salida__respuesta {
    display: none;
}